<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Demo's Phonegap Apis</name>

<description>
Basic application to test phonegap API
</description>

<author href="https://yelamablog.blogspot.com" email="lazaro.yesid@gmail.com">
Yesid Lazaro
</author>

<preference name="phonegap-version" value="2.0.0" />

<!-- Icons -->

<icon src="icon.png" />

<!-- Splash Screens -->
<gap:splash src="splash.png" />

<gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />

</widget>
